{% extends "../base/base.html" %}
{% block title %}
PlaceBeard.it
{% endblock %}
{% block content %}
<title>PlaceBeard.it - Use beardy men as placeholder images.</title>	

<div class="beards">

<div class="hello">
	<h1 class="no-m-t">
		<div class="size-big lh-1"><span class="size-big">placebeard.it</span></div>
	</h1>
	<p class="code">
		color: <a href="{% url 'images:images' %}">here</a><br>
		greyscale: <a href="{% url 'images:images' %}">here</a>
	</p>
	<p class="code">
		<strong>Alternative:</strong><br>
		color: <a href="{% url 'images:images' %}">here</a><br>
		greyscale: <a href="{% url 'images:images' %}">here</a>
	</p>
{% endblock %}